{% extends "base.catalog.html" %}

{% block title %}Информация{% endblock %}
{% block js %}
    $(document).ready(function(){
        $("#id_phone_call_center").mask("+(999)999-99-99");
        $('#id_phone_number').mask('+(999)99-999-99?99');
    });
{% endblock %}

{% block column  %}
    <form method="post" action="" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>Настройка сайта</legend>
            {% include 'form.inc.html' with form=form %}
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">Сохранить</button>
            </div>
        </fieldset>
    </form>
{% endblock %}

