.sidebar-filter {
    width:calc((100% - (5 * 32px)) / 6);
    float: right;
    margin-left: 2rem;
}

@media screen and (max-width: 1472px) {
    .sidebar-filter {
        width:calc((100% - (4 * 32px)) / 5);
    }
}

@media screen and (max-width: 1280px) {
    .sidebar-filter {
        width:calc((100% - (3 * 32px)) / 4);
    }
}


.filter {
    width: 100%;
    float: right;
    background-color: $color-primary-white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 24px;

    &__title {
        &-img {
            display: inline;

            &.down-arrow-orange {
                display: none;
            }
        }
        
        &-name {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            color: $color-primary-black;
            margin-left: 19px;
            margin-right: 12px;
        }
    }

    &__item {
        padding: 24px 0px 0px 0px;
        border-bottom: none;

        &:not(:last-child) {
            border-bottom: 1px solid $color-primary-grey-filter-line;
        }

        &-padding {
            padding-bottom: 16px;
        }

        &-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            -webkit-transition: .3s ease;
                -o-transition: .3s ease;
                    transition: .3s ease;

            &--name {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
                color: $color-primary-black;
            }
        }

        &-form {
            margin: 24px 0px;
            label {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                color: $color-primary-black;
                width: 48%;

            }

            input {
                border: 1px solid $color-primary-grey-text;
                box-sizing: border-box;
                border-radius: 2px;
                width: 73px;
                margin-left: 4px;
                padding: 8px 12px;

            }
        }

        &-checkboxes {
            padding: 24px 0px;
            display: block;
            -webkit-transition: .3s ease;
                -o-transition: .3s ease;
                    transition: .3s ease;

            // &--input {
            //     border: 2px solid #E3E3E3;
            //     box-sizing: border-box;
            //     border-radius: 2px
            // }

            &--label {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: $color-primary-black;

                margin-left: 12px;
            } 
        }

        &-container {
            margin-top: 16px;
        }

        &-more{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: $color-primary-grey-text;
            border-bottom: 2px dashed $color-primary-grey-text;
            box-sizing: border-box
        }

        &-submit {
            padding: 5px 15px;
            display: block;
            margin-bottom: 16px;
        }
    }
}


@media screen and (max-width: 986px) {
    .sidebar-filter {
        width:100%;
        margin-left: 0rem;
        margin-bottom: 2rem;
    }

    .filter {
        padding: 0px;
        box-shadow: none;
        background-color: $color-primary-grey;
    }

    .filter__item {
        display: none;
    }

    .filter__title-name {
        margin-left: 0px;
        color: $color-primary-orange;
    }

    .filter__title {
        padding: 10px 16px;
        border: 1px solid $color-primary-orange;
        box-sizing: border-box;
        border-radius: 2px;
        width: max-content;
        cursor: pointer;
    }

    .down-arrow-grey {
        display: none;
    }
    .down-arrow-orange {
        display: inline-block!important;
    }




    .modal-content {
        background: $color-primary-white;

        & .modal-header,
        & .modal-body {
            padding: 0px 56px!important;
            border-bottom: none!important;
        }

        & .filter__title {
            border: none;
            padding: 30px 0px!important;
        }
        & .down-arrow-grey {
            display: inline-block!important;
        }
        & .down-arrow-orange {
            display: none!important;
        }
        & .filter__title-name {
            color: $color-primary-black!important;
            margin-left: 20px!important;
        }
        & .filter__item {
            width: 50%;
        }
        & .filter__item-checkboxes div {
            text-align: justify;
        }
        & .filter__item-submit {
            display: inline-block;
            margin-bottom: 0px;
        }
        & .filter__item-more {
            margin-left: 32px;
        }
    }

}

@media screen and (max-width: 767px) {
    .modal-content .filter__item-submit {
        display: block;
    }
    .modal-content .filter__item-more {
        margin-left: 0px;
    } 
    .modal .modal-dialog .modal-content .modal-footer {
        padding: 0px 56px !important;
    }
}