.footer {
    background: $color-footer-dark;
    color: $color-primary-white;
    padding: 48px 0 24px 0;
    
    &-content {
        display: flex;

        &__item {
            width: 25%;
            padding-bottom: 50px;
            padding-left: 0px;
            font-weight: bold;

            & ul {
                display: block;
            }

            & ul li {
                padding-left: 0px;
                padding-top: 16px;
                margin-bottom: 0px;
                display: flex;
                
                &:first-child {
                    padding-top: 26px;
                }
                & span {
                    margin-right: 10px;
                }
            }
        }
    }
}


@media screen and (max-width: 986px) {
    .footer-content {
        flex-wrap: wrap;
    }
    .footer-content__item {
        width: 50%;
    }
}

@media screen and (max-width: 540px) {
    .footer-content__item {
        width: 100%;
    }
}