.opacity-zero {
    opacity: 0;
}

.testtest {
    margin-bottom: 64px;
    width: calc(100% - 20px);
}

.opacity-zero {
    opacity: 0;
}

.d-none {
    display: none!important;
}


.orange-btn-cs {
    background-color: #FF4B00;
    color: #fff !important;
    cursor: pointer;
    margin-right: 74px;
}

.orange-btn-padding-cs {
    padding: 7.5px 36px;
}


.nav-tabs {
    border-bottom: 1px solid #919191;
}

.nav-tabs li {
    padding: 0px 24px 0px 0px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0px;
    color: #757575;
}

.nav-tabs li a {
    padding: 15px 0;
}
.nav-tabs li.active {
    color: #FF4B00;
}
.nav-tabs li.active a {
    border-bottom: 2px solid #FF4B00;
    color: #FF4B00!important;
    border-top: none
}

.tab-content h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    padding: 24px 0;
}

.tab-content h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    color: #000;
    padding: 24px 0;
}

.tab-content p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    margin-bottom: 0px;
}
.d-none {
    display: none;
}


.product-item--old-price {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: line-through;
    color: #757575;
    padding-top: 20px;
    display: none; }

.full-description {
//       box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.35);
      width: 100%;
      margin-left: 10px;
      height: 100%;
      border: 1px solid #ff4b00;
      background: #fff; }
.full-description .price-btn {
    text-align: right;}
.full-description table {
    margin: 24px 0 4px 0px; }
.full-description table .table-grey,
.full-description table .table-black {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 0px; }
.full-description table .table-grey {
  color: #757575; }
.full-description table .table-black {
  color: #000; }
.full-description .discount {
    display: flex;
    margin: 24px 0px; }
.full-description .discount p {
  flex: 1;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000; }
.full-description .discount p:nth-child(2) {
  text-align: end; }
.full-description .discount .orange-color {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #FF4B00; }
.full-description__close {
    height: 36px;
    position: relative; }
.full-description__close--btn {
  position: absolute;
  top: 15px;
  right: 29px;
  color: #757575;
  font-size: 26px;
  cursor: pointer; }
.full-description__content {
    margin-top: 7px;
    display: flex; }
.full-description__content--img {
  height: 324px;
  margin: auto 32px; }
.full-description__content--img img {
    max-width: 315px;
    height: auto;
    margin: auto; }
.full-description__content--info {
  width: calc(100% - 315px - 32px - 96px); }
.full-description__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 96px; }
.full-description__footer .orange-btn {
  margin-right: 96px; }
.full-description__footer .svg-icon {
  margin-right: 52px; }


@media screen and (max-width: 1399px) {
  .full-description__content--img img {
    height: 100%;
  }
}

.catalog-block .catalog-block_ul .catalog-block_li .item_box .item_footer .item_detail {
    margin-top: 0px;
}


@media screen and (max-width: 1280px) {
  .full-description__content--img {
    margin-right: 32px;
    height: 215px; }
  .full-description__content--info {
    width: calc(100% - 215px - 64px); }
  .full-description__footer .orange-btn {
    margin-right: 64px; } }

@media screen and (max-width: 1200px) {
  #descModal .modal-dialog {
    width: 100%!important;
    margin: 0px!important;
    height: 100%; }
  #descModal .modal-body {
    padding: 24px 32px;}
  #descModal .modal-footer {
    padding: 24px;
    justify-content: flex-end !important; }
  #descModal .full-description {
    border: none;}
  #descModal .full-description__footer .orange-btn-cs {
    margin-right: 0px!important; }

  .testtest {
    margin-left:10px;}


//   .full-description__close--btn {
//     right: 0px; }
  .full-description__content {
    margin-top: 7px;
    display: flex;
    flex-direction: column; }
    .full-description__content--img {
      width: 100%;
      height: 215px;
      // margin-bottom: 72px;
    }
    .full-description__content--img img {
      height: 100%!important;
      display: block;
      margin-left: auto;
      margin-right: auto;}
    .full-description__content--info {
      width: 100%;
      text-align: left; }
    .full-description__content--info .nav-tabs,
    .full-description__content--info .tab-content {
        margin: auto 29px;
    }
 }


@media screen and (max-width: 991px) {
    .full-description__content--img {
        margin-bottom: 0px;
    }

    #descModal .modal-dialog {
        margin-top: -1px;
    }
}


.catalog-block .catalog-block_ul .catalog-block_li:hover .item_box,
.catalog-block .catalog-block_ul .catalog-block_li:focus .item_box,
.catalog-block .catalog-block_ul .catalog-block_li:active .item_box
{
    box-shadow: none;
    moz-box-shadow: none;
    webkit-box-shadow: none;
}


@media screen and (max-width: 500px) {
    #descModal .full-description__content--img {
      margin: auto;}
}
@media screen and (max-width: 380px) {
    #descModal .full-description__content--img img {
      max-width: 100%;
      height: 100%!important; }
}

@media screen and (max-width: 1199px) {
    .catalog-block .catalog-block_ul .catalog-block_li {
        overflow: visible!important;
        margin-bottom: 100px;
    }
    .catalog-block .catalog-block_ul .catalog-block_li .item_box {
        height: 100%!important;
    }
    .catalog-block .catalog-block_ul .catalog-block_li .item_box .item_footer {
        border: 1px solid #ededed;
    }
    .catalog-block .catalog-block_ul .catalog-block_li .item_box {
        border-bottom: none;
        border-left: none;
        border-right: none;
    }
    .catalog-block .catalog-block_ul .catalog-block_li .item_box .item_img {
        border-left: 1px solid #ededed;
        border-right: 1px solid #ededed;
        border-top: 1px solid #ededed;
    }
}


.catalog-block .catalog-block_ul .catalog-block_li:hover .item_box,
.catalog-block .catalog-block_ul .catalog-block_li:focus .item_box,
.catalog-block .catalog-block_ul .catalog-block_li:active .item_box
{
    border-color: #ff4b00!important;
}

@media (max-width: 767px) {
    .catalog-block .catalog-block_ul .catalog-block_li {
        width: 50%;
    }

    .catalog-block .catalog-block_ul .catalog-block_li {
        margin-bottom: 50px;
    }
}


// .catalog-block .catalog-block_ul .catalog-block_li .item_box {
//     border: 1px solid #ff4b00;
// }
