.opacity-zero {
    opacity: 0;
}

.testtest {
    margin-bottom: 64px;
    width: calc(100% - 20px);
}

.opacity-zero {
    opacity: 0;
}

.d-none {
    display: none!important;
}


.orange-btn-cs {
    background-color: #FF4B00;
    color: #fff !important;
    cursor: pointer;
    margin-right: 74px;
}

.orange-btn-padding-cs {
    padding: 7.5px 36px;
}


.nav-tabs {
    border-bottom: 1px solid #919191;
}

.nav-tabs li {
    padding: 0px 24px 0px 0px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0px;
    color: #757575;
}

.nav-tabs li a {
    padding: 15px 0;
}
.nav-tabs li.active {
    color: #FF4B00;
}
.nav-tabs li.active a {
    border-bottom: 2px solid #FF4B00;
    color: #FF4B00!important;
    border-top: none
}

.tab-content h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    padding-bottom: 12px;
}

.tab-content h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    color: #000;
}

.tab-content p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    margin-bottom: 0px;
}
.d-none {
    display: none;
}


.product-item--old-price {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: line-through;
    color: #757575;
    padding-top: 20px;
    display: none; }

.full-description {
//       box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.35);
      width: 100%;
      margin-left: 10px;
      height: 100%;
      border: 1px solid #ff4b00;
      background: #fff; }
.full-description .price-btn {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;}
.full-description table {
    margin: 24px 0 4px 0px; }
.full-description table .table-grey,
.full-description table .table-black {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 0px; }
.full-description table .table-grey {
  color: #757575; }
.full-description table .table-black {
  color: #000; }
.full-description .discount {
    display: flex;
    margin: 24px 0px; }
.full-description .discount p {
  flex: 1;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000; }
.full-description .discount p:nth-child(2) {
  text-align: end; }
.full-description .discount .orange-color {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #FF4B00; }
.full-description__close {
//     height: 36px;
    position: relative; }
.full-description__close h3 {
    width: 90%;}
.full-description__close--btn {
  position: absolute;
//   top: 15px;
//   right: 29px;
  top: 0px;
  right: 0px;
  color: #757575;
  font-size: 26px;
  cursor: pointer; }
.full-description__content {
    margin-top: 7px;
    display: grid;
    grid-template-columns: 35% 65%; }
.full-description__content--img {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 32px;
  margin-top: 22px;
  /* margin: auto 32px;  */
}
.full-description__content--img img {
    max-height: 215px;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto; }
.full-description__content--info {
  width: calc(100% - 70px); }
.full-description__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 96px; }
.full-description__footer .orange-btn {
  margin-right: 96px; }
.full-description__footer .svg-icon {
  margin-right: 52px; }
.catalog-block .catalog-block_ul .catalog-block_li .item_box .item_footer .item_detail {
  margin-top: 0px;
}


.catalog-block .catalog-block_ul .catalog-block_li:hover .item_box,
.catalog-block .catalog-block_ul .catalog-block_li:focus .item_box,
.catalog-block .catalog-block_ul .catalog-block_li:active .item_box
{
    box-shadow: none;
    moz-box-shadow: none;
    webkit-box-shadow: none;
}

.header {
    position: fixed!important;
    box-shadow: rgba(42, 48, 60, 0.19) 0px 1px 3px 0px;
    z-index: 99;
    left: 0px;
    top: 0px;
    right: 0px;}



.breadcrumbs {
    margin-top: 86px;
    padding-bottom: 0px;}

@media screen and (max-width: 991px) {
    .breadcrumbs {
        margin-top: 114px;}
}

@media (max-width: 767px) {
    .breadcrumbs {
        margin-top: 156px;}
}



@media screen and (min-width: 1199px) {
  .catalog-block .catalog-block_ul .catalog-block_li:hover .item_box,
  .catalog-block .catalog-block_ul .catalog-block_li:focus .item_box,
  .catalog-block .catalog-block_ul .catalog-block_li:active .item_box
  {
      border-color: #ff4b00!important;
  }
}



@media screen and (max-width: 1199px) {
  .catalog-block .catalog-block_ul .catalog-block_li:hover .item_box .item_img,
  .catalog-block .catalog-block_ul .catalog-block_li:focus .item_box .item_img,
  .catalog-block .catalog-block_ul .catalog-block_li:active .item_box .item_img
  {
      border-top: 1px solid #ff4b00;
      border-left: 1px solid #ff4b00;
      border-right: 1px solid #ff4b00;
  }

  .catalog-block .catalog-block_ul .catalog-block_li:hover .item_box .item_footer,
  .catalog-block .catalog-block_ul .catalog-block_li:focus .item_box .item_footer,
  .catalog-block .catalog-block_ul .catalog-block_li:active .item_box .item_footer
  {
      border-bottom: 1px solid #ff4b00;
      border-left: 1px solid #ff4b00;
      border-right: 1px solid #ff4b00;
  }

  .full-description__close {
    margin: auto 29px;
    position: inherit;
  }

  .full-description__close--btn {
    top: 15px;
    right: 29px;
  }


}


@media screen and (max-width: 1399px) {
  .full-description__content--img img {
    height: auto;
  }
}


@media screen and (max-width: 1280px) {
  .full-description__content--img {
    /* margin-right: 32px; */
    height: 215px; }
  /* .full-description__content--info {
    width: calc(100% - 215px - 64px); } */
  .full-description__footer .orange-btn {
    margin-right: 64px; } }

@media screen and (max-width: 1199px) {
  #descModal .modal-dialog {
    width: 100%!important;
    margin: 0px!important;
    height: 100%; }
  #descModal .modal-body {
    padding: 24px 32px;}
  #descModal .modal-footer {
    padding: 24px;
    justify-content: flex-end !important; }
  #descModal .full-description {
    border: none;}
  #descModal .full-description__footer .orange-btn-cs {
    margin-right: 0px!important; }

  .testtest {
    margin-left:10px;}

  .catalog-block .catalog-block_ul .catalog-block_li {
      overflow: visible!important;
      margin-bottom: 100px;
  }
  .catalog-block .catalog-block_ul .catalog-block_li .item_box {
      height: 100%!important;
  }
  .catalog-block .catalog-block_ul .catalog-block_li .item_box .item_footer {
      border: 1px solid #ededed;
  }
  .catalog-block .catalog-block_ul .catalog-block_li .item_box {
      border-bottom: none;
      border-left: none;
      border-right: none;
  }
  .catalog-block .catalog-block_ul .catalog-block_li .item_box .item_img {
      border-left: 1px solid #ededed;
      border-right: 1px solid #ededed;
      border-top: 1px solid #ededed;
  }
  .full-description {
      margin-left: 0px;
  }

  .full-description__content {
    margin-top: 7px;
    display: flex;
    flex-direction: column; }
    .full-description__content--img {
      width: 100%;
      height: 215px;
      // margin-bottom: 72px;
    }
    .full-description__content--img img {
      height: 100%!important;
      display: block;
      margin-left: auto;
      margin-right: auto;}
    .full-description__content--info {
      width: 100%;
      text-align: left; }
    .full-description__content--info .nav-tabs,
    .full-description__content--info .tab-content {
        margin: auto 29px;
    }
 }



@media screen and (max-width: 991px) {
    .full-description__content--img {
        margin-bottom: 0px;
    }

    #descModal .modal-dialog {
        margin-top: -1px;
    }
}

@media (max-width: 767px) {
  .catalog-block .catalog-block_ul .catalog-block_li {
      width: 50%;
  }

  .catalog-block .catalog-block_ul .catalog-block_li {
      margin-bottom: 50px;
  }

  .full-description__content--img {
      margin-top: 24px;
  }
}


@media screen and (max-width: 500px) {
    #descModal .full-description__content--img {
      margin: auto;}
}
@media screen and (max-width: 380px) {
    #descModal .full-description__content--img img {
      max-width: 100%;
      height: 100%!important; }
}

@media screen and (max-width: 480px) {
  .catalog-block .catalog-block_ul .catalog-block_li {
    width: 100%;
  }

  .full-description__close--btn {
    right: -4px;
  }
  .full-description__close,
  .full-description__content--info .nav-tabs,
  .full-description__content--info .tab-content {
    margin: 0px;
  }
}



.#descModal .full-description__footer {
  position: absolute;
  bottom: 0;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


.modal-content {
    position: relative;
    border-radius: 0;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop;
    animation-duration: 0.6s;
    border: 0px;
    height: 100%;
    overflow-y: scroll;
}

.modal-header {
    padding: 0;
    color: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: relative;
}

/* #descModal .full-description__footer .orange-btn-cs {
    position: absolute;
    bottom: 24px;
} */


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border-radius: 0;
  border-top: none!important;
  border-bottom: 2px solid #ff4b00!important;
}




.full-description {
  position: relative;
}


.triangle {
  top: -39px; /* 36px height  + 3px extra */
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px;
  border-color: transparent transparent #FF4B00 transparent;
  transition: border-width 500ms ease-in;
  /* border: 1px solid #FF4B00; */
}

.result { margin: 16px auto !important;}

.full-description .input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.full-description .modal-input {
    width: calc(1/3*100% - (1 - 1/3)*10px)!important;
    height: 46px!important;
    padding: 6px 12px!important;
    font-size: 14px!important;
    line-height: 1.42857143!important;
    color: #555!important;
    background-color: rgba(255, 255, 255, 0.9)!important;
    background-image: none!important;
    border: 1px solid #ff4b00!important;
    border-radius: 0!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)!important;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s!important;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s!important;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s!important;
}

.full-description #id_name {
    display: block!important;}

.more-btn {
    float: right;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: #FF4B00;
}

#check_coupon_form {
    padding: 7.5px 36px;
    background-color: #FF4B00;
    color: #fff !important;
    cursor: pointer;
    float: right;
    margin-top: 12px;
    border: 1px;
    display: none;
}

.coupon-btn {
    display: none;}


#id_form_get_coupon .input-group {
    display: contents!important;}
#id_form_get_coupon .input-group input {
    width: 49%!important;}

#id_name {
    float: left;}
#id_email, #id_phone {
    float: right;}

@media screen and (max-width: 480px) {
    #id_form_get_coupon .input-group input {
        width: 100%!important;}
    #check_coupon_form {
        margin-top: 12px;}
}


