{% extends 'themes/findinshop/red/base_red.html' %}

{% block content %}

		<div id="header">
        
		<!-- /// HEADER  //////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

			<div class="row">
				<div class="span4" style="width: 200px">
				
					<!-- // Logo // -->
					<a href="/" id="logo">
                    	<img class="responsive-img" src="{{ STATIC_URL }}themes/findinshop/red/img/logo.png" alt="">
                    </a>
				
				</div><!-- end .span4 -->
			</div><!-- end .row -->		

		<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

		</div><!-- end #header -->
		<div id="content">
		
		<!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<div id="page-header">
            	
                <div class="row">
                	<div class="span3">
                    	
                        <div class="diamond-shape">
                        	<img src="_content/about-me/220x220.png" alt="">
                        </div><!-- end .diamond-shape -->
                        
                    </div><!-- end span3 -->
                    <div class="span9">
                    	
                        <h3 class="text-uppercase">FINDINSHOP</h3>
                        <p><em>сервис поиска товаров в магазинах страны</em></p>
                        
                        <p>Наша аудитория состоит из тысяч потенциальных покупателей, которые уже готовы совершить покупку или 
                            плаинируют совершить ее в ближайшее время. 
                            Размещая информацию о своих товарах на поисковой площадке FINDINSHOP, вы получаете прекрасную возможность
                            донести информацию о своих товарах, ценах, скидках и месте расположения магазина потенциальным покупателям.
                           </p>

                        
                    </div><!-- end span9 -->
                </div><!-- end .row -->
                
            </div><!-- end #page-header -->
            
            
            
            <div class="row">
            	<div class="span12">
            
					<div class="headline">
						
				
						<h2>Тарифы на размещение информации</h2>
						
						<p></p>
						
					</div><!-- end .headline -->
            
				</div><!-- end .span12 -->
            </div><!-- end .row -->

            <div class="row">
            	<div class="span3">
                
                	<div class="icon-box-4">
                        
  
                        <div class="icon-box-content">
                        
							<h1>50$</h1>
                        	<h4>до 5 000 товаров</h4>

                            <p></p>
                        
                        </div><!-- end .icon-box-content -->
                        
                    </div><!-- end .icon-box-4 -->
                    
                </div><!-- end .span3 -->
                <div class="span3">
                
                	<div class="icon-box-4">
                        
  
                        <div class="icon-box-content">
                        
							<h1>100$</h1>
                        	<h4>до 20 000 товаров</h4>

                            <p></p>
                        
                        </div><!-- end .icon-box-content -->
                        
                    </div><!-- end .icon-box-4 -->
                    
                </div><!-- end .span3 -->
                <div class="span3">
                
                	<div class="icon-box-4">
                        
  
                        <div class="icon-box-content">
                        
							<h1>200$</h1>
                        	<h4>до 100 000 товаров</h4>

                           <p></p>
                        
                        </div><!-- end .icon-box-content -->
                        
                    </div><!-- end .icon-box-4 -->
                    
                </div><!-- end .span3 -->
                <div class="span3">
                
                	<div class="icon-box-4">
                        

  
                        <div class="icon-box-content">
                        
							<h1>300$</h1>
                        	<h4>до 200 000 товаров</h4>

                           <p></p>
                        
                        </div><!-- end .icon-box-content -->
                        
                    </div><!-- end .icon-box-4 -->
                    
                </div><!-- end .span3 -->
            </div><!-- end .row -->
            
            <div class="row">
            	<div class="span8">
                	
                    <h3 style="margin-bottom:0;">Как работает сервис?</h3>
                    <p>
                    	<span class="text-highlight"></span>
                    </p>
                    
                    <div class="row">
                    	<div class="span4">
                        	
                            <p>После подключения к поисковой системе и создания аккаунта продавца, информация о товарных предложения, купонах (скидках), 
                                адресах точек выдачи и магазинов продавца становятся доступными для пользователей поисковой системы. </p>
                            
                            <p></p>
                            
                            <p>Наша система позволяет подключить любой магазин осуществляющий продажу товаров на территории Украины.</p>
                            
                        </div><!-- end .span4 -->
                        <div class="span4">
                        	
                            <p>Базовая стоимость перехода покупателя на сайт продавца или на контактную информацию о продавце составляет 0 грн. 
                                Магазин может повысить отдачу от размещения в каталоге, путем увеличения цены перехода, тем самым поднять информацию о своем товаре на более выгодные позиции. </p>
                            
                            <p></p>
                            
                        </div><!-- end .span4 -->
                    </div><!-- end .row -->
                    
                </div><!-- end .span8 -->
                <div class="span4">
                	
                    <div class="milestone alt fixed">
                        
                        <div class="milestone-content">
                            <span class="milestone-value" data-stop="24" data-speed="1000"></span>
                            <div class="milestone-description">часа в сутки</div>
                        </div><!-- end .milestone-content -->
                        
                        <p>информаируем о товарах</p>
                       
                    </div><!-- end .milestone -->
                    
                    <div class="milestone alt fixed">
                        
                        <div class="milestone-content">
                            <span class="milestone-value" data-stop="7" data-speed="1000"></span>
                            <div class="milestone-description">дней в неделю</div>
                        </div><!-- end .milestone-content -->
                        
                        <p>раздаем ваши купоны</p>
                       
                    </div><!-- end .milestone -->
                    
                    <div class="milestone alt fixed">
                        
                        <div class="milestone-content">
                            <span class="milestone-value" data-stop="365" data-speed="1000"></span>
                            <div class="milestone-description">дней в году</div>
                        </div><!-- end .milestone-content -->
                        
                        <p>приводим клиентов</p>
                       
                    </div><!-- end .milestone -->
                    
                </div><!-- end .span4 -->
            </div><!-- end .row -->		
            
            <div class="row">
            	<div class="span12">
            
					<div class="headline">
						
						
						<h2>Выбирите свой тип подключения!</h2>
						
						<p>
                        	После подачи заявки на подключение магазина 
                           <br class="hidden-tablet hidden-phone"> с вами свяяется ваш персональный менеджер. .
                        </p>
						
					</div><!-- end .headline -->
            
				</div><!-- end .span12 -->
            </div><!-- end .row -->
            
            <div class="row">
            	<div class="span2">
                	
                    <div class="icon-box-2">
                    	
                        
                        <div class="icon-box-content">
                        	
                            <h5><a href="{% url 'signup2' %}">Подлючить интернет-магазин</a></h5>
                            
                        </div><!-- end .icon-box-content -->
                        
                    </div><!-- end .icon-box-2 -->
                    
                </div><!-- end .span2 -->
                <div class="span2">
                	<div class="icon-box-2">
                    	
                        
                        <div class="icon-box-content">
                        	
                            <h5><a href="{% url 'support' %}">Подключить наземный магазин</a></h5>
                            
                        </div><!-- end .icon-box-content -->
                        
                    </div><!-- end .icon-box-2 -->
                    
                </div><!-- end .span2 -->
                <div class="span2">
                	<div class="icon-box-2">
                    	
                        
                        <div class="icon-box-content">
                        	
                            <h5><a href="{% url 'support' %}">Подключить торговый центр</a></h5>
                            
                        </div><!-- end .icon-box-content -->
                        
                    </div><!-- end .icon-box-2 -->
                    
                </div><!-- end .span2 -->
                <div class="span2">
                	<div class="icon-box-2">
                    	
                    
                   	
                        
                        <div class="icon-box-content">
                        	
                            <h5><a href="http://findinshop.com.ua/login/">Вход для владельцев магазинов</a></h5>
                            
                        </div><!-- end .icon-box-content -->
                        
                    </div><!-- end .icon-box-2 -->
                    
                </div><!-- end .span2 -->
                 
            </div><!-- end .parallax -->
            
            
            
		<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

		</div><!-- end #content -->
		
		{% block bottom_js %}
		<script type="text/javascript">document.getElementById("search").focus();</script>
		{% endblock %}

<script type='text/javascript'>
<div id="admixer_async_1719653802"></div>
<script type="text/javascript">
    window.admixZArr = (window.admixZArr || []);
    window.admixZArr.push({ z: '41017a46-c831-4050-90fe-6fb377b47662', ph: 'admixer_async_1719653802'});
</script>

{% endblock %}
