{% extends "themes/findinshop/red/base_red.html" %}

{% load i18n %}

{% block title %}{% endblock %}

{% block content %}

<section class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="h1 text-center">Регистрация пройдена!</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-pull-2 col-md-push-2 col-md-8">
            <div class="not-found">
              <div class="not-found_t">OK</div>
              <div class="not-found_slogan1">После проверки регистрации <br />с вами свяжется наш менеджер.</div>
              <div class="not-found_slogan2">С уважением, администрация проекта FINDINSHOP.COM</div>
              <div class="not-found_btn">
                <a href="/" class="btn btn-default __medium">На главную</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
