{% extends "themes/findinshop/red/base_red.html" %}

{% block title %}Подписаться на скидки{% endblock %}

{% block content %}
    {% if status == 'ok' %}

    <section class="breadcrumbs">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h1 class="h1 text-center">Вы подписались на новости!</h1>
              </div>
            </div>
          </div>
        </section>
        <section class="content">
          <div class="container">
            <div class="row">
              <div class="col-md-pull-2 col-md-push-2 col-md-8">
                <div class="not-found">
                  <div class="not-found_t">OK</div>
                  <div class="not-found_slogan2">С уважением, администрация проекта FINDINSHOP.COM</div>
                  <div class="not-found_btn">
                    <a href="/" class="btn btn-default __medium">На главную</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
    {% elif status == 'error' %}
     <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h1 class="h1 text-center">Ошибка</h1>
              </div>
            </div>
          </div>
        </section>
        <section class="content">
        <div class="alert alert-error">
            <h3>Извините, произошла ошибка!</h3>
        </div>
    {% elif form and not status %}

    <section class="breadcrumbs">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h1 class="h1 text-center">Подписаться на новости</h1>
              </div>
            </div>
          </div>
        </section>
        <section class="content">
              <div class="container">
                <div class="row">
                  <div class="col-md-pull-3 col-md-push-3 col-md-6">
                    <form method="post" class="form-horizontal" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group">
                        {% include 'form.inc.html' with form=form %}
                      </div>
                    <div class="form-group">
                      <div class="col-xs-12">
                        <div class="register-submit">
                          <input type="submit" value="Подписаться" class="btn btn-default __medium"/>
                        </div>
                      </div>
                    </div>
                    </form>
                </div>
              </div>
            </div>
          </section>
    {% endif %}
{% endblock %}
