<div class="global-nav bottom">
    <div class="nav-bar-inner">
        <ul class="primary-nav bottom left">
            <li class="copyright">
                &copy;&nbsp;{% now "Y" %}&nbsp;findinshop
            </li>
            <li class="">
            <a  href="{% url support %}">
                обратная связь
            </a>
            </li>
            <li class="">
            <a  href="http://www.work.ua/jobs/by-company/370053/">
               вакансии
            </a>
            </li>
            <li class="">
            <a  href=" ">
               пользовательское соглашение
            </a>
            </li>
			 <li class="">
            <a  href=" ">
               договор оферты
            </a>
            </li>
            <li>
                <!-- Установите этот блок в том месте, где должен отображаться банер    -->
                <div id="admixer_async_1719653802"></div>
                <script type="text/javascript">
                    window.admixZArr = (window.admixZArr || []);
                    window.admixZArr.push({ z: '41017a46-c831-4050-90fe-6fb377b47662', ph: 'admixer_async_1719653802'});
                </script>
            </li>

            {% comment %}
            <li class="">
            <a  href="#">
                о сайте
            </a>
            </li>
            <li class="">
            <a  href="#">
                помощь
            </a>
            </li>
            {% endcomment %}

        </ul>

        <ul class="list-inline social right">
		<li>
        <a target="_blank" href="https://www.facebook.com/findinshop">
        <i class="icon" aria-hidden="true"></i>
        <span class="screen-reader">Facebook</span>
        </a>
        </li>
        <li>
        <a target="_blank" data-track-social="Footer,Social Click,Twitter" href="https://twitter.com/FindinShop">
        <i class="icon" aria-hidden="true"></i>
        <span class="screen-reader">Twitter</span>
        </a>
        </li>
        <li>
        <a target="_blank" data-track-social="Footer,Social Click,Google+" href="https://plus.google.com/u/0/116687241813468707571/posts">
        <i class="icon" aria-hidden="true"></i>
        <span class="screen-reader">Google+</span>
        </a>
        </li>
        <li class="liveinternet-js"></li>
        </ul>
    </div>
</div></div>
