{% extends 'themes/findinshop/red/base_red.html' %}

{% block content %}

<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-pull-2 col-md-push-2 col-md-8">
        <div class="not-found">
          <div class="not-found_t">4<span>0</span>4</div>
          <div class="not-found_slogan1">Запрашиваемая страница не найдена</div>
          <div class="not-found_slogan2"></div>
          <div class="not-found_slogan3">Вернутесь на главную?</div
          <div class="not-found_btn">
            <a href="/" class="btn btn-default __medium">На главную</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

		{% block bottom_js %}
		{% endblock %}

{% endblock %}
