{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <form method='post' action=''  class="form-horizontal">{% csrf_token %}
        <fieldset>
            <legend>Восстановление пароля</legend>
            <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                    Забыли пароль? Введите ваш адрес електронной почты в форме ниже <br />
                    и мы вышлем вам инструкцию для восстановления.
                </div>
            </div>
            {% include 'form.inc.html' with form=form %}
            <div class="form-actions">
                <input type='submit' class="btn primary" value="Восстановление пароля" />
            </div>
        </fieldset>
    </form>
{% endblock %}
