{% extends "base.catalog.html" %}

{% block title %}Пароль успешно изменен{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
        <li><a href="{% url 'catalog' %}"><i class="icon-list"></i> Каталог</a></li>
        <li><a href="{% url 'import_task' %}"><i class="icon-download"></i> Импорт</a></li>
        <li><a href="{% url 'information' %}"><i class="icon-filter"></i> Информация</a></li>
        <li><a href="{% url 'password_change_us_online' %}"><i class="icon-edit"></i> Изменить пароль</a></li>
    </ul>
    <p>Пароль успешно изменен</p>
{% endblock %}

