{% extends "base.html" %}

{% block title %}Подтверждение смены пароля{% endblock %}

{% block content %}
<form method="post" action="">{% csrf_token %}
    <fieldset>
        <legend>Подтверждение смены пароля</legend>
            <div class="clearfix">
                <div class="input">
                    Введите ваш новый пароль в форме ниже чтобы восстановить доступ:
                </div>
            </div>
            {% include 'form.inc.html' with form=form %}
            <div class="actions">
                <input type="submit" class="btn primary" value="Задать пароль" />
            </div>
        </fieldset>
</form>
{% endblock %}
