{% extends "themes/findinshop/red/base_red.html" %}
    {% block content %}
<section class="breadcrumbs">
<div class="container">
<div class="row">
<div class="col-xs-12">
<h1 class="h1 text-center">
Войти
</h1></div></div></div></section>

<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-pull-3 col-md-push-3 col-md-6">
        <form method="post" class="form-horizontal" enctype="multipart/form-data">
          <div class="form-group">
            {% csrf_token %}
            {% include 'form.inc.html' with form=form %}
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <div class="register-submit">
                <input type="submit" value="Войти" class="btn btn-default __medium"/> 
              </div>
            </div>
          </div>
        </form>
      <div class="register-submit">
        <form action = "/dashboard/register_user"><input type="submit" value="Зарегистрироваться" class="btn btn-default __medium"/>
        </form>
      </div>
      </div>
    </div>
  </div>
</section>

    {% endblock %}